header {
  background-color: cornflowerblue;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 232, 255);
}

section {
  background-color: rgb(243, 249, 255);
  margin: 50px 20px;
  border: 2px solid rgb(180, 190, 221);
  border-radius: 8px;
  padding: 16px 20px;
  height: 150px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.block {
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
  background-color: #ddd;
  border: 1px solid #333;
}
.section1,
.section2 {
  justify-content: space-between;
  column-gap: 10px;
}

.left {
  display: flex;
  margin-right: auto;
  column-gap: 10px;
}

.right {
  display: flex;
  column-gap: 10px;
}

.big {
  height: 220px;
}
.section4 {
  height: 300px;
  justify-content: flex-end;
  column-gap: 10px;
}
.section5 {
  height: 300px;
  justify-content: center;
  column-gap: 10px;
}

a {
  color: white;
}

a:hover {
  background-color: #376deb;
  border-radius: 6px;
}
