header {
  background-color: cornflowerblue;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 232, 255);
}

section {
  background-color: rgb(243, 249, 255);
  margin: 50px 20px;
  border: 2px solid rgb(180, 190, 221);
  border-radius: 8px;
  padding: 16px 20px;
  height: 150px;
  box-sizing: border-box;
  overflow: hidden;
}

.block {
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
  background-color: #ddd;
  border: 1px solid #333;
}
.left {
  float: left;
  margin-right: 10px;
}
.right {
  float: right;
  margin-left: 10px;
}
.section4,
.section5 {
  height: 270px;
}
.center {
  width: 500px;
  margin: 0 auto;
}
.clear {
  clear: right;
}
.big {
  height: 220px;
}
a {
  color: white;
}

a:hover {
  background-color: #376deb;
  border-radius: 6px;
}
